.signInForm{
    width: auto;
    height: 97vh;
    padding-top: 200px;
  
   color:black;
   animation: myanimation 10s infinite;
 
}


  
  @keyframes myanimation {
    0% {background-color: rgb(56, 48, 48);}
    25%{background-color:rgb(111, 111, 100);}
    50%{background-color:rgb(110, 124, 110);}
    75%{background-color:rgb(131, 109, 109);}
    100% {background-color: rgb(122, 121, 121);}
  }

.typewriter{
    width: auto;
}
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; The typwriter cursor */
    white-space:nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 90% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    70% { border-color: orange; }
  }